<section class="quick-tools">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11 col-xs-12">              
                <div class="navbar-form navbar-right">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light" placeholder="搜索">
                        <span class="input-group-btn">
                            <button class="btn bg-light">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                    <button class="btn btn-info post-btn">发布通告</button>
                    <button class="btn btn-info post-btn">发布档期</button> 
                </div>
            </div>
        </div>
    </div>
</section>
<nav class="navbar" scroll-to-fixed-top>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                cftvc
            </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">精选</a>
                </li>
                <li>
                    <a href="/">聚焦</a>
                </li>
                <li>
                    <a href="/">人才库</a>
                </li>
                <li>
                    <a href="/">通告</a>
                </li>
                <li>
                    <a href="/">梦工场</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">登录</a>
                </li>
                <li class="signup-btn">
                    <a href="/">注册</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="announcement">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">工作时间</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="工作时间">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">地点</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="地点">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">需求人数</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="需求人数">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="性别">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">报酬</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="报酬">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info">发布</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="static/images/brand.jpg" alt width="61" height="15">
                <ul class="footer-links">
                    <li>
                        <a href="/">精选</a>
                    </li>
                    <li>
                        <a href="/">关于我们</a>
                    </li>
                    <li>
                        <a href="/">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 footer-right">
                <ul class="social">
                    <li>链接</li>
                    <li>
                        <a href="/" target="_blank">
                            <img src="static/images/icon-facebook.png" target="_blank" alt width="24">
                        </a>
                    </li>
                    <li>
                        <a href="/" target="_blank">
                            <img src="static/images/icon-twitter.png" target="_blank" alt width="24">
                        </a>
                    </li>
                </ul>
                <p class="f-text">
                    <a href="/" target="_blank">中国影视广告网</a>
                    <br>
                    <a href="/" target="_blank">上海XX信息技术有限公司</a>
                </p>
            </div>
        </div>
    </div>
    <div class="copy-right-sec">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">© 2015 AdPushup, Inc. |  All Right Reserved</div>
                <div class="col-sm-6 copy-col-right"></div>
            </div>
        </div>
    </div>
</footer>