<section class="quick-tools">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11 col-xs-12">              
                <div class="navbar-form navbar-right">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light" placeholder="搜索">
                        <span class="input-group-btn">
                            <button class="btn bg-light">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                    <button class="btn btn-info post-btn">发布通告</button>
                    <button class="btn btn-info post-btn">发布档期</button> 
                </div>
            </div>
        </div>
    </div>
</section>
<nav class="navbar" scroll-to-fixed-top>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                cftvc
            </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">精选</a>
                </li>
                <li>
                    <a href="/">聚焦</a>
                </li>
                <li>
                    <a href="/">人才库</a>
                </li>
                <li>
                    <a href="/">通告</a>
                </li>
                <li>
                    <a href="/">梦工场</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">登录</a>
                </li>
                <li class="signup-btn">
                    <a href="/">注册</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="detail">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 name">
                KatherineX
            </div>
            <div class="col-sm-1 location">
                杭州
            </div>
            <div class="col-sm-3 appointment">
                <button class="btn btn-success">工作预约</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="info">
                    <div class="title">新锐模特</div>
                    <div class="item">身高/<span class="strong">165</span></div>
                    <div class="item">体重/<span class="strong">47</span></div>
                    <div class="item">胸围/<span class="strong">84</span></div>
                    <div class="item">腰围/<span class="strong">60</span></div>
                    <div class="item">臀围/<span class="strong">88</span></div>
                    <div class="item">鞋码/<span class="strong">37</span></div>
                    <div class="item">头发颜色/<span class="strong">黑色</span></div>
                    <div class="item">眼睛颜色/<span class="strong">深棕</span></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="post-masonry">
                    <div class="post-thumb">
                        <img src="static/images/peoples/img2_cover_10846014.jpg" alt>
                        <div class="title-over">
                            <h4>
                                <a href="#">
                                    cftvc
                                </a>
                            </h4>
                        </div>
                        <div class="post-hover text-center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="static/images/brand.jpg" alt width="61" height="15">
                <ul class="footer-links">
                    <li>
                        <a href="/">精选</a>
                    </li>
                    <li>
                        <a href="/">关于我们</a>
                    </li>
                    <li>
                        <a href="/">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 footer-right">
                <ul class="social">
                    <li>链接</li>
                    <li>
                        <a href="/" target="_blank">
                            <img src="static/images/icon-facebook.png" target="_blank" alt width="24">
                        </a>
                    </li>
                    <li>
                        <a href="/" target="_blank">
                            <img src="static/images/icon-twitter.png" target="_blank" alt width="24">
                        </a>
                    </li>
                </ul>
                <p class="f-text">
                    <a href="/" target="_blank">中国影视广告网</a>
                    <br>
                    <a href="/" target="_blank">上海XX信息技术有限公司</a>
                </p>
            </div>
        </div>
    </div>
    <div class="copy-right-sec">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">© 2015 AdPushup, Inc. |  All Right Reserved</div>
                <div class="col-sm-6 copy-col-right"></div>
            </div>
        </div>
    </div>
</footer>